Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/githooks/check-localstorage-usage.js, prettier --write

fix
  src/setup/askForTalawaApiUrl/askForTalawaApiUrl.spec.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

fixed
  src/setup/askForTalawaApiUrl/askForTalawaApiUrl.spec.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Improved Code Coverage in src/components/UserPortal/OrganizationSidebar/OrganizationSidebar.tsx (#3096)
  src/components/UserPortal/OrganizationSidebar/OrganizationSidebar.spec.tsx
  src/components/UserPortal/OrganizationSidebar/OrganizationSidebar.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

refactor: admin-doc to hasura docs style
  docs/docusaurus.config.ts
  docs/src/css/custom.css
  docs/src/pages/index.tsx
  docs/static/img/icons/facebook.svg
  docs/static/img/icons/favicon_palisadoes.ico
  docs/static/img/icons/github-dark.svg
  docs/static/img/icons/github.svg
  docs/static/img/icons/instagram.svg
  docs/static/img/icons/opportunities.svg
  docs/static/img/icons/slack.svg
  docs/static/img/icons/source.svg
  docs/static/img/icons/team.svg
  docs/static/img/icons/twitter.svg
  docs/static/img/icons/youtube-white.svg
  docs/static/img/icons/youtube.svg
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Update pull-request.yml
  .github/workflows/pull-request.yml
Due: prettier --write

Fix github pagination
  .github/workflows/scripts/validate-coderabbit.sh
Due: none

Fix some issues
  .github/workflows/scripts/validate-coderabbit.sh
Due: none

Revert "Update pull-request.yml"
  .github/workflows/pull-request.yml
Due: prettier --write

Removed debug statements
  .github/workflows/scripts/validate-coderabbit.sh
Due: none

added coderabbit's suggestions
  src/style/app.module.css
Due: prettier --write

refacted:src/setup/askForTalawaApiUrl/askForTalawaApiUrl.test.ts from Jest to Vitest (#3095)
  src/setup/askForTalawaApiUrl/askForTalawaApiUrl.spec.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Refactor/volunteer view modal css #2893 (#3097)
  src/screens/EventVolunteers/Volunteers/VolunteerViewModal.tsx
  src/style/app.module.css
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

improve code coverage
  src/components/UserPortal/StartPostModal/StartPostModal.spec.tsx
  src/components/UserPortal/StartPostModal/StartPostModal.tsx
  src/components/UserPortal/UserNavbar/UserNavbar.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Update UserNavbar.tsx
  src/components/UserPortal/UserNavbar/UserNavbar.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

refactor: admin-doc to hasura docs style
  docs/docusaurus.config.ts
  docs/src/css/custom.css
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Added Code Rabbit Approval Check to pull-request.yml Workflow (#3008)
  .github/workflows/pull-request.yml
  .github/workflows/scripts/validate-coderabbit.sh
Due: prettier --write

Feature/admin docs refactor/admin-doc to hashura docs style (#3100)
  docs/docusaurus.config.ts
  docs/src/css/custom.css
  docs/src/pages/index.tsx
  docs/static/img/icons/facebook.svg
  docs/static/img/icons/favicon_palisadoes.ico
  docs/static/img/icons/github-dark.svg
  docs/static/img/icons/github.svg
  docs/static/img/icons/instagram.svg
  docs/static/img/icons/opportunities.svg
  docs/static/img/icons/slack.svg
  docs/static/img/icons/source.svg
  docs/static/img/icons/team.svg
  docs/static/img/icons/twitter.svg
  docs/static/img/icons/youtube-white.svg
  docs/static/img/icons/youtube.svg
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Deploy website - based on 04d773a03a55991958e1a0626835852339efcb1a
  404.html
  assets/css/styles.283d327e.css
  assets/css/styles.2ce171b8.css
  assets/js/1df93b7f.80a6b432.js
  assets/js/1df93b7f.d5c7a697.js
  assets/js/main.d82b0afc.js
  assets/js/main.d82b0afc.js.LICENSE.txt
  assets/js/main.e33d87e9.js
  assets/js/runtime~main.b49ce39a.js
  assets/js/runtime~main.bca85f06.js
  docs/category/tutorial---basics/index.html
  docs/category/tutorial---extras/index.html
  docs/intro/index.html
  docs/tutorial-basics/congratulations/index.html
  docs/tutorial-basics/create-a-blog-post/index.html
  docs/tutorial-basics/create-a-document/index.html
  docs/tutorial-basics/create-a-page/index.html
  docs/tutorial-basics/deploy-your-site/index.html
  docs/tutorial-basics/markdown-features/index.html
  docs/tutorial-extras/manage-docs-versions/index.html
  docs/tutorial-extras/translate-your-site/index.html
  img/icons/facebook.svg
  img/icons/favicon_palisadoes.ico
  img/icons/github-dark.svg
  img/icons/github.svg
  img/icons/instagram.svg
  img/icons/opportunities.svg
  img/icons/slack.svg
  img/icons/source.svg
  img/icons/team.svg
  img/icons/twitter.svg
  img/icons/youtube-white.svg
  img/icons/youtube.svg
  index.html
  markdown-page/index.html
Due: prettier --write

[FIX] Improve code coverage of `src/components/UserPortal/StartPostModal/StartPostModal.spec.tsx` (#3099)
  src/components/UserPortal/StartPostModal/StartPostModal.spec.tsx
  src/components/UserPortal/StartPostModal/StartPostModal.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Deploy website - based on c0ecefcfac451abffcf99b7d3254c19920bf87a3
  404.html
  assets/js/main.3d688b47.js
  assets/js/main.3d688b47.js.LICENSE.txt
  assets/js/main.d82b0afc.js
  docs/category/tutorial---basics/index.html
  docs/category/tutorial---extras/index.html
  docs/intro/index.html
  docs/tutorial-basics/congratulations/index.html
  docs/tutorial-basics/create-a-blog-post/index.html
  docs/tutorial-basics/create-a-document/index.html
  docs/tutorial-basics/create-a-page/index.html
  docs/tutorial-basics/deploy-your-site/index.html
  docs/tutorial-basics/markdown-features/index.html
  docs/tutorial-extras/manage-docs-versions/index.html
  docs/tutorial-extras/translate-your-site/index.html
  index.html
  markdown-page/index.html
Due: none

implemented correct user roles
  src/screens/UserPortal/People/People.spec.tsx
  src/screens/UserPortal/People/People.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Refactor: Migrated src/screens/ForgotPassword/ForgotPassword.tsx from Jest to Vitest
  src/screens/ForgotPassword/ForgotPassword.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Fix: Improved Code Coverage in src/screens/ForgotPassword/ForgotPassword.tsx
  src/screens/ForgotPassword/ForgotPassword.spec.tsx
  src/screens/ForgotPassword/ForgotPassword.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Refactor health checks in GitHub Actions workflow
  .github/workflows/pull-request.yml
  .github/workflows/scripts/health_check_no.sh
Due: prettier --write

increased test coverage
  setup.ts
  src/setup/askAndSetDockerOption/askAndSetDockerOption.spec.ts
  src/setup/askAndSetDockerOption/askAndSetDockerOption.ts
  src/setup/askAndUpdatePort/askAndUpdatePort.ts
  src/setup/askAndUpdatePort/askForUpdatePort.spec.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

corrected script name
  .github/workflows/pull-request.yml
  .github/workflows/scripts/health_check_no.sh
Due: prettier --write

increased test coverage
  src/setup/askForTalawaApiUrl/askForTalawaApiUrl.spec.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

corrected port number
  .github/workflows/pull-request.yml
Due: prettier --write

added tests to setup.ts
  src/setup/askAndUpdatePort/askForUpdatePort.spec.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Improve Code Coverage in src/components/OrgPeopleListCard/OrgPeopleListCard.tsx
  src/components/OrgPeopleListCard/OrgPeopleListCard.spec.tsx
  src/components/OrgPeopleListCard/OrgPeopleListCard.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

src/components/UpdateSession/UpdateSession.css
  src/components/UpdateSession/UpdateSession.css
  src/components/UpdateSession/UpdateSession.tsx
  src/style/app.module.css
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Path conditions:
  node scripts/githooks/check-localstorage-usage.js: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
