Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/githooks/check-localstorage-usage.js, prettier --write

LeaveOrganization.test.tsx file updated 1
  src/screens/UserPortal/LeaveOrganization/LeaveOrganization.test.tsx
  src/screens/UserPortal/LeaveOrganization/LeaveOrganization.tsx
  src/state/reducers/userRoutersReducer.test.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Refetching of orgs added after leaving org
  src/screens/UserPortal/LeaveOrganization/LeaveOrganization.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

suggested changes are made
  src/screens/UserPortal/LeaveOrganization/LeaveOrganization.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Update README.md
  README.md
Due: none

suggested changes are made 3
  src/screens/UserPortal/LeaveOrganization/LeaveOrganization.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

coderabbait suggested changes
  src/components/EventManagement/EventAgendaItems/EventAgendaItems.tsx
  src/screens/UserPortal/Volunteer/Groups/GroupModal.tsx
  src/style/app.module.css
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

changed acc to bot
  src/components/EventCalendar/EventCalendar.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

updated jset.config file
  jest.config.js
Due: none

changed coderabbitai suggested issue
  jest.config.js
Due: none

fixed linting issues
  jest.config.js
Due: none

fixed failing test-case
  src/components/OrganizationScreen/OrganizationScreen.test.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

fixed coderabbitai suggested css changes
  src/components/OrganizationScreen/OrganizationScreen.test.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

commit-1
  src/components/EventManagement/Dashboard/EventDashboard.module.css
  src/components/EventManagement/Dashboard/EventDashboard.tsx
  src/components/EventManagement/EventAgendaItems/EventAgendaItems.module.css
  src/components/EventManagement/EventAgendaItems/EventAgendaItems.tsx
  src/components/EventManagement/EventAttendance/EventAttendance.tsx
  src/components/EventManagement/EventAttendance/EventsAttendance.module.css
  src/screens/EventVolunteers/EventVolunteers.module.css
  src/screens/EventVolunteers/Requests/Requests.tsx
  src/screens/EventVolunteers/VolunteerContainer.tsx
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroupDeleteModal.tsx
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroupModal.tsx
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroupViewModal.tsx
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroups.tsx
  src/screens/EventVolunteers/Volunteers/VolunteerCreateModal.tsx
  src/screens/EventVolunteers/Volunteers/VolunteerDeleteModal.tsx
  src/screens/EventVolunteers/Volunteers/VolunteerViewModal.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.tsx
  src/screens/Leaderboard/Leaderboard.tsx
  src/screens/OrganizationActionItems/ItemDeleteModal.tsx
  src/screens/OrganizationActionItems/ItemViewModal.tsx
  src/screens/OrganizationActionItems/OrganizationActionItems.module.css
  src/screens/OrganizationActionItems/OrganizationActionItems.tsx
  src/screens/UserPortal/Volunteer/Actions/Actions.tsx
  src/screens/UserPortal/Volunteer/Groups/GroupModal.tsx
  src/screens/UserPortal/Volunteer/Groups/Groups.tsx
  src/style/app.module.css
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

changed globalfile
  src/style/app.module.css
Due: prettier --write

cc1
  src/style/app.module.css
Due: prettier --write

Created a script for the pull_request
  .github/workflows/pull-request.yml
  .github/workflows/scripts/healthcheck.sh
Due: prettier --write

Created a script for the pull_request
  .github/workflows/scripts/healthcheck.sh
Due: none

Suppressed Css error
  src/components/MemberDetail/customTableCell.test.tsx
  src/components/OrganizationScreen/OrganizationScreen.test.tsx
  src/setupTests.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Fix customTableCell issue
  src/components/MemberDetail/customTableCell.test.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Refactored Refactor: src/screens/PageNotFound from Jest to Vitest #2568
  src/screens/PageNotFound/PageNotFound.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Improved the ui of the calender on user profile to that of the calenders in other pages
  .eslintrc.json
  src/components/UsersTableItem/UserTableItem.test.tsx
  src/screens/OrganizationTags/OrganizationTags.test.tsx
  src/screens/UserPortal/Settings/Settings.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Improved the ui of the calender on user profile to that of the calenders in other pages
  .eslintrc.json
Due: prettier --write

schema fix
  .github/workflows/pull-request.yml
Due: prettier --write

Added changes
  src/screens/UserPortal/Chat/Chat.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

test to spec
  jest.config.js
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.spec.tsx
  src/components/OrganizationScreen/OrganizationScreen.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

revert test to spec
  jest.config.js
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.test.tsx
  src/components/OrganizationScreen/OrganizationScreen.test.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Refactor: Updated PageNotFound component test from Jest to Vitest
  src/screens/PageNotFound/PageNotFound.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

add data-testid attributes for toggle state for improved testability
  src/components/OrganizationScreen/OrganizationScreen.test.tsx
  src/components/OrganizationScreen/OrganizationScreen.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

changed faulty files
  jest.config.js
  src/components/EventCalendar/EventCalendar.tsx
  src/components/EventCalendar/YearlyEventCalender.tsx
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.test.tsx
  src/components/OrganizationScreen/OrganizationScreen.test.tsx
  src/screens/LoginPage/LoginPage.tsx
  src/screens/OrgList/OrgList.tsx
  src/utils/getRefreshToken.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Fix Prettier formatting issue in jest.config.js
  jest.config.js
  package-lock.json
  package.json
Due: prettier --write

restored sensitive file
  package-lock.json
  package.json
Due: prettier --write

changed faulty files
  jest.config.js
  src/components/EventCalendar/EventCalendar.tsx
  src/components/EventCalendar/YearlyEventCalender.tsx
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.test.tsx
  src/components/OrganizationScreen/OrganizationScreen.test.tsx
  src/screens/LoginPage/LoginPage.tsx
  src/screens/OrgList/OrgList.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

changed faulty files
  jest.config.js
Due: none

Path conditions:
  node scripts/githooks/check-localstorage-usage.js: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
