Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/githooks/check-localstorage-usage.js, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml}": "prettier --write",
  "**/*.{ts,tsx}": "node scripts/githooks/check-localstorage-usage.js"
}

added repo root
  .github/workflows/pull-request.yml
Due: prettier --write

fix error
  .github/workflows/pull-request.yml
Due: prettier --write

refactor useSession.spec.tsx to vitest
  src/utils/useSession.test.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Fix: ReCAPTCHA refresh on submitting Login/SignUp form and Migrated LoginPage.test.tsx to Vitest
  src/screens/LoginPage/LoginPage.spec.tsx
  src/screens/LoginPage/LoginPage.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

refactor:vitest to componenets/EventCalendar/*
  src/components/EventCalendar/EventCalendar.spec.tsx
  src/components/EventCalendar/EventHeader.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Removed imports for Jest
  src/screens/LoginPage/LoginPage.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

added support for checking .ts files for eslint-disable statements
  .github/workflows/eslint_disable_check.py
  .github/workflows/pull-request.yml
  src/setupTests.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

refactor:vitest to src/components/MemberDetail/*
  src/components/MemberDetail/EventsAttendedByMember.spec.tsx
  src/components/MemberDetail/EventsAttendedCardItem.spec.tsx
  src/components/MemberDetail/EventsAttendedMemberModal.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

requested changes
  src/style/app.module.css
Due: prettier --write

resolved issue
  src/style/app.module.css
Due: prettier --write

resolved issues
  src/style/app.module.css
Due: prettier --write

Refactor CSS files in src/screens/OrganizationFundCampaign (#2934)
  src/screens/OrganizationFundCampaign/CampaignModal.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampagins.tsx
  src/screens/OrganizationFundCampaign/OrganizationFundCampaign.module.css
  src/style/app.module.css
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Refactored src/components/AgendaCategory/AgendaCategoryContainer.test.tsx from jest to vitest (#2938)
  src/components/AgendaCategory/AgendaCategoryContainer.spec.tsx
  src/components/AgendaCategory/AgendaCategoryContainerProps.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

refactor:vitest to componenets/EventCalendar/* (#2944)
  src/components/EventCalendar/EventCalendar.spec.tsx
  src/components/EventCalendar/EventHeader.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

refactor:vitest to src/components/MemberDetail/* (#2945)
  src/components/MemberDetail/EventsAttendedByMember.spec.tsx
  src/components/MemberDetail/EventsAttendedCardItem.spec.tsx
  src/components/MemberDetail/EventsAttendedMemberModal.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

added changes
  src/screens/EventVolunteers/VolunteerContainer.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Update app.module.css
  src/style/app.module.css
Due: prettier --write

chatroom tests migrated from jest to vitest
  src/components/UserPortal/ChatRoom/ChatRoom.spec.tsx
  vitest.config.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Refactor CSS files in src/screens/MemberDetail (#2941)
  src/screens/MemberDetail/MemberDetail.tsx
  src/style/app.module.css
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

added support for checking .ts files for code coverage disable statements
  .github/workflows/code_coverage_disable_check.py
  .github/workflows/pull-request.yml
Due: prettier --write

fixed-2527
  src/screens/UserPortal/Campaigns/Campaigns.module.css
  src/screens/UserPortal/Campaigns/Campaigns.tsx
  src/screens/UserPortal/Campaigns/PledgeModal.tsx
  src/screens/UserPortal/Chat/Chat.module.css
  src/screens/UserPortal/Donate/Donate.module.css
  src/screens/UserPortal/Donate/Donate.tsx
  src/screens/UserPortal/Events/Events.module.css
  src/screens/UserPortal/Events/Events.tsx
  src/screens/UserPortal/Organizations/Organizations.module.css
  src/screens/UserPortal/Organizations/Organizations.tsx
  src/screens/UserPortal/People/People.module.css
  src/screens/UserPortal/People/People.tsx
  src/screens/UserPortal/Pledges/Pledges.module.css
  src/screens/UserPortal/Pledges/Pledges.tsx
  src/screens/UserPortal/Posts/Posts.module.css
  src/screens/UserPortal/Posts/Posts.tsx
  src/screens/UserPortal/Settings/Settings.module.css
  src/screens/UserPortal/Settings/Settings.tsx
  src/screens/UserPortal/UserScreen/UserScreen.module.css
  src/screens/UserPortal/UserScreen/UserScreen.tsx
  src/screens/UserPortal/Volunteer/Actions/Actions.tsx
  src/screens/UserPortal/Volunteer/Groups/GroupModal.tsx
  src/screens/UserPortal/Volunteer/Groups/Groups.tsx
  src/screens/UserPortal/Volunteer/Invitations/Invitations.tsx
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.tsx
  src/screens/UserPortal/Volunteer/VolunteerManagement.module.css
  src/style/app.module.css
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

minor change
  .github/workflows/code_coverage_disable_check.py
Due: none

fixed issues
  src/components/Venues/VenueCard.tsx
  src/style/app.module.css
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

fixed tests
  src/screens/OrgList/OrgList.test.tsx
  src/screens/OrgList/OrgList.tsx
  src/screens/OrgList/OrganizationModal.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Original Configuration of vitest.config file
  vitest.config.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

fix
  src/screens/UserPortal/Chat/Chat.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Added vitest for VolunteerContainer (#2693)
  src/screens/EventVolunteers/VolunteerContainer.spec.tsx
  src/screens/EventVolunteers/VolunteerContainer.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Cleared localstorage to solve flickering (#2937)
  src/screens/OrgList/OrgList.test.tsx
  src/screens/OrgList/OrgList.tsx
  src/screens/OrgList/OrganizationModal.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Migrate to vitest (#2947)
  src/components/LeftDrawerOrg/LeftDrawerOrg.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Migrated the CSS from OrganizationEvents to the global CSS file app.module.css
  src/screens/OrganizationEvents/OrganizationEvents.module.css
  src/screens/OrganizationEvents/OrganizationEvents.tsx
  src/style/app.module.css
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

migrated pagination.spec.tsx from jest to vitest
  src/components/Pagination/Pagination.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

packages updated
  package-lock.json
  package.json
Due: prettier --write

refactored src/components/Advertisements/core/ from jest to vitest
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.test.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

migrated pagination.spec.tsx from jest to vitest (#2949)
  src/components/Pagination/Pagination.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Update pull-request.yml
  .github/workflows/pull-request.yml
Due: prettier --write

refactored src/components/Advertisements/core/ from jest to vitest (#2950)
  src/components/Advertisements/core/AdvertisementEntry/AdvertisementEntry.test.tsx
  src/components/Advertisements/core/AdvertisementRegister/AdvertisementRegister.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

updated branch
  src/style/app.module.css
Due: prettier --write
