Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/githooks/check-localstorage-usage.js, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml}": "prettier --write",
  "**/*.{ts,tsx}": "node scripts/githooks/check-localstorage-usage.js"
}

orgPost
  src/screens/OrgPost/OrgPost.test.tsx
  src/screens/OrgPost/OrgPost.tsx
  src/subComponents/SortingButton.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

added merge conflict check
  .github/workflows/pull-request.yml
Due: prettier --write

changed checkout repo
  .github/workflows/pull-request.yml
Due: prettier --write

added max tries feature
  .github/workflows/pull-request.yml
Due: prettier --write

added needs condition
  .github/workflows/pull-request.yml
Due: prettier --write

conversion successfully completed
  package-lock.json
  package.json
  src/components/AddPeopleToTag/AddPeopleToTag.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

added pr target synchronize to trigger workflow
  .github/workflows/pull-request.yml
Due: prettier --write

conversion successfully completed
  src/components/AddPeopleToTag/AddPeopleToTag.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

block user
  src/screens/BlockUser/BlockUser.spec.tsx
  src/screens/BlockUser/BlockUser.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Update stale.yml
  .github/workflows/stale.yml
Due: prettier --write

conversion successfully completed (#3140)
  src/components/AddPeopleToTag/AddPeopleToTag.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

people section css updated
  src/assets/css/app.css
  src/components/OrgPeopleListCard/OrgPeopleListCard.tsx
  src/screens/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/OrganizationPeople/AddMember.tsx
  src/style/app.module.css
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Added Merge Conflict Check (#3138)
  .github/workflows/pull-request.yml
Due: prettier --write

Fixed misaligned UI Components
  src/screens/OrganizationFunds/OrganizationFunds.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Fixed UI Components Misalignment in Funds Section of Org
  3141
  src/screens/OrganizationFunds/OrganizationFunds.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

added test cases in src/components/EventRegistrantsModal/AddOnSpotAttendee.tsx
  src/components/EventRegistrantsModal/AddOnSpotAttendee.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Fixed UI Components Misalignment in Funds Section of Org (#3144)
  3141
  src/screens/OrganizationFunds/OrganizationFunds.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

added test cases in src/components/EventRegistrantsModal/AddOnSpotAttendee.tsx (#3145)
  src/components/EventRegistrantsModal/AddOnSpotAttendee.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Fix: User-friendly error message for empty comments
  package-lock.json
  src/components/UserPortal/PostCard/PostCard.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

added mergeconflictchecker.yml
  .github/workflows/merge-conflict-check.yml
  .github/workflows/pull-request.yml
Due: prettier --write

Update CODEOWNERS
  CODEOWNERS
Due: none

code coverage
  src/screens/EventManagement/EventManagement.spec.tsx
  src/screens/EventManagement/EventManagement.test.tsx
  src/screens/EventManagement/EventManagement.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Adding eslint.config.js to ignores property
  eslint.config.mjs
Due: none

#2970:autodoc-generate
  .eslintrc.json
  .github/workflows/pull-request.yml
Due: prettier --write

Adding suggestions from coderabbit
  eslint.config.mjs
  package.json
Due: prettier --write

orgFunds
  src/screens/OrganizationFunds/OrganizationFunds.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

dropdown removed from settings
  src/screens/OrgSettings/OrgSettings.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

actionItemCategories
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.spec.tsx
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

switched to gh api
  .github/workflows/merge-conflict-check.yml
Due: prettier --write

fixed indentation
  .github/workflows/merge-conflict-check.yml
Due: prettier --write

jest global coverage decreased
  jest.config.js
Due: none

#2970:autodoc-generate
  .github/workflows/pull-request.yml
Due: prettier --write

global jest coverage
  jest.config.js
Due: none

Event header
  src/components/EventCalendar/EventHeader.spec.tsx
  src/components/EventCalendar/EventHeader.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

refactor: extract DeletePostModal from OrgPostCard to fix file-length test
  src/components/OrgPostCard/DeletePostModal.spec.tsx
  src/components/OrgPostCard/DeletePostModal.tsx
  src/components/OrgPostCard/OrgPostCard.tsx
  src/style/app.module.css
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

#2970:autodoc-generate
  src/components/CheckIn/TableRow.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

removing the test
  eslint.config.mjs
  src/createESLint.test.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Merge Conflict Job added in merge-conflict-check.yml file (#3147)
  .github/workflows/merge-conflict-check.yml
  .github/workflows/pull-request.yml
Due: prettier --write

lint fix
  INSTALLATION.md
Due: none
