Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/githooks/check-localstorage-usage.js, prettier --write

Refactored .\src\utils\useLocalstorage.test.ts from Jest to Vitest
  src/utils/useLocalstorage.spec.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

got rid of redundant code
  src/screens/Users/Users.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

fixed-2475-fixed
  src/components/AddOn/support/components/MainContent/MainContent.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

solved linting error
  jest.config.js
Due: none

refactored css (#2841)
  src/components/EventManagement/Dashboard/EventDashboard.module.css
  src/components/EventManagement/Dashboard/EventDashboard.tsx
  src/components/EventManagement/EventAgendaItems/EventAgendaItems.module.css
  src/components/EventManagement/EventAgendaItems/EventAgendaItems.tsx
  src/components/EventManagement/EventAttendance/EventAttendance.tsx
  src/components/EventManagement/EventAttendance/EventsAttendance.module.css
  src/screens/OrganizationActionItems/ItemDeleteModal.tsx
  src/screens/OrganizationActionItems/ItemViewModal.tsx
  src/screens/OrganizationActionItems/OrganizationActionItems.module.css
  src/screens/OrganizationActionItems/OrganizationActionItems.tsx
  src/screens/UserPortal/Volunteer/Actions/Actions.tsx
  src/style/app.module.css
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Refactor: test from jest to vitest (#2688)
  src/screens/UserPortal/Volunteer/Groups/Groups.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Refactored .\src\utils\useLocalstorage.test.ts from Jest to Vitest (#2844)
  src/utils/useLocalstorage.spec.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Added tests for src/screens/Users/Users.tsx (#2745)
  src/screens/Users/Users.spec.tsx
  src/screens/Users/Users.test.tsx
  src/screens/Users/Users.tsx
  src/screens/Users/UsersMocks.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Implemented search functionality
  src/GraphQl/Queries/AgendaCategoryQueries.ts
  src/components/AgendaCategory/AgendaCategoryContainer.tsx
  src/components/OrgSettings/AgendaItemCategories/OrganizationAgendaCategory.module.css
  src/components/OrgSettings/AgendaItemCategories/OrganizationAgendaCategory.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Revert "excluded node_modules from eslint disable check"
  .github/workflows/eslint_disable_check.py
Due: none

excluded node_modules from eslint disable check
  .github/workflows/eslint_disable_check.py
Due: none

code-coverage check runs for only changed files
  .github/workflows/pull-request.yml
Due: prettier --write

add tj-actions
  .github/workflows/pull-request.yml
Due: prettier --write

add tj actions in check code coverage job
  .github/workflows/pull-request.yml
Due: prettier --write

fix: Add SubTag and Tag Modal Footer buttons margin-bottom set to 10px
  src/style/app.module.css
Due: prettier --write

removed import
  src/components/AddOn/support/components/MainContent/MainContent.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

updated calender to not accomodate future daes
  src/screens/UserPortal/Settings/Settings.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Refactor: Migrated src/components/DynamicDropDown/DynamicDropDown.test.tsx from Jest to Vitest
  src/components/DynamicDropDown/DynamicDropDown.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

fix: Add SubTag and Tag Modal Footer buttons margin-bottom set to 10px (#2846)
  src/style/app.module.css
Due: prettier --write

fixed:#2475 Refactor: src/components/AddOn/support/components/MainContent/MainContent.test.tsx from Jest to Vitest (#2843)
  src/components/AddOn/support/components/MainContent/MainContent.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Refactor: Migrated src/components/DynamicDropDown/DynamicDropDown.test.tsx from Jest to Vitest (#2847)
  src/components/DynamicDropDown/DynamicDropDown.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Update jest to vitest
  src/components/AgendaItems/AgendaItemsContainer.spec.tsx
  src/components/AgendaItems/AgendaItemsContainerProps.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

update modal reverted
  src/components/AgendaItems/AgendaItemsUpdateModal.test.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

checkenvFile test migrated from jest to vitest
  src/setup/checkEnvFile/checkEnvFile.spec.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Update jest to vitest
  src/components/AgendaItems/AgendaItemsUpdateModal.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Fix linting issue
  src/components/AgendaItems/AgendaItemsUpdateModal.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

organizationCard tests migrated from jest to vitest
  src/components/OrganizationCard/OrganizationCard.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

checkenvFile test migrated from jest to vitest (#2849)
  src/setup/checkEnvFile/checkEnvFile.spec.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Refactor: Migrated src/components/EventListCard/EventListCard.test.tsx from Jest to Vitest
  src/components/EventListCard/EventListCard.spec.tsx
  src/components/EventListCard/EventListCardModals.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

organizationCard tests migrated from jest to vitest (#2852)
  src/components/OrganizationCard/OrganizationCard.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

removed the unnecessary code and added vitest to askForDocker
  package-lock.json
  package.json
  src/setup/askForDocker/askForDocker.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

added formatting to src/style/app.module.css
  src/style/app.module.css
Due: prettier --write

Migrated src/components/AgendaItems/* from Jest to Vitest (#2850)
  src/components/AgendaItems/AgendaItemsContainer.spec.tsx
  src/components/AgendaItems/AgendaItemsContainerProps.ts
  src/components/AgendaItems/AgendaItemsPreviewModal.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Migrated src/components/AgendaItems/AgendaItemsUpdateModal.test.tsx from Jest to Vitest (#2851)
  src/components/AgendaItems/AgendaItemsUpdateModal.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

handled the split function correctly
  src/utils/timezoneUtils/dateTimeMiddleware.spec.ts
  src/utils/timezoneUtils/dateTimeMiddleware.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Update infintite scroll loader jest to vitest
  src/components/InfiniteScrollLoader/InfiniteScrollLoader.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Update contistats jest to vitest
  package-lock.json
  package.json
  src/components/ContriStats/ContriStats.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Fix linting issue
  src/components/InfiniteScrollLoader/InfiniteScrollLoader.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Fix linting issue
  src/components/ContriStats/ContriStats.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Path conditions:
  node scripts/githooks/check-localstorage-usage.js: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
