Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/githooks/check-localstorage-usage.js, prettier --write

excluded node_modules from eslint disable check
  .github/workflows/eslint_disable_check.py
Due: none

removed unnecessary changes
  src/components/EventManagement/Dashboard/EventDashboard.module.css
  src/components/EventManagement/Dashboard/EventDashboard.tsx
  src/components/EventManagement/EventAgendaItems/EventAgendaItems.module.css
  src/components/EventManagement/EventAgendaItems/EventAgendaItems.tsx
  src/components/EventManagement/EventAttendance/EventAttendance.tsx
  src/components/EventManagement/EventAttendance/EventsAttendance.module.css
  src/components/OrganizationScreen/OrganizationScreen.spec.tsx
  src/screens/Leaderboard/Leaderboard.tsx
  src/screens/OrganizationActionItems/ItemDeleteModal.tsx
  src/screens/OrganizationActionItems/ItemViewModal.tsx
  src/screens/OrganizationActionItems/OrganizationActionItems.module.css
  src/screens/OrganizationActionItems/OrganizationActionItems.tsx
  src/screens/UserPortal/Volunteer/Actions/Actions.tsx
  src/style/app.module.css
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Refactor: src/screens/OrganizationFunds from Jest to Vitest (#2685)
  src/screens/OrganizationFunds/FundModal.spec.tsx
  src/screens/OrganizationFunds/FundModal.tsx
  src/screens/OrganizationFunds/OrganizationFunds.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

migrated SubTag.test.tsx from jest to vitest and added few more test (fixes 2570)
  src/screens/SubTags/SubTags.spec.tsx
  src/screens/SubTags/SubTags.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

fix: add svg
  src/assets/svgs/add.svg
Due: none

removed unused svg file
  src/assets/svgs/add.svg
Due: none

updated schema.graphql
  schema.graphql
Due: none

Update src/style/app.module.css
  src/style/app.module.css
Due: prettier --write

fixed some coderabbit issue
  src/style/app.module.css
Due: prettier --write

refactor:vitest to checkInModal
  src/components/CheckIn/CheckInModal.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

refactor:vitest to Sidepanel
  src/components/AddOn/support/components/SidePanel/SidePanel.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Fixed testing issue
  src/screens/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/FundCampaignPledge/PledgeModal.tsx
  src/style/app.module.css
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Fix coderabbit suggestion
  src/style/app.module.css
Due: prettier --write

ts-doc comments
  src/components/AddOn/support/components/SidePanel/SidePanel.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Refactor: Revert the SubTag.tsx changes to previous one
  src/screens/SubTags/SubTags.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Refactor: Migrated ManageTag.test.tsx from Jest to Vitest also renamed to ManageTag.spec.tsx
  src/screens/ManageTag/ManageTag.spec.tsx
  src/screens/ManageTag/ManageTag.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

formated the code
  src/components/AgendaItems/AgendaItemsCreateModal.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

fixed the type error
  src/components/AgendaItems/AgendaItemsCreateModal.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Refactor : Vitest to SidePanel Component (#2735)
  src/components/AddOn/support/components/SidePanel/SidePanel.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

refactor:vitest to checkInModal (#2734)
  src/components/CheckIn/CheckInModal.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Refactoring CSS files: merged FundCompaignPledge styles into global app.module.css (#2706)
  src/screens/FundCampaignPledge/FundCampaignPledge.module.css
  src/screens/FundCampaignPledge/FundCampaignPledge.tsx
  src/screens/FundCampaignPledge/PledgeDeleteModal.tsx
  src/screens/FundCampaignPledge/PledgeModal.tsx
  src/style/app.module.css
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

deleted file
  src/screens/ManageTag/ManageTag.module.css
Due: prettier --write

Refactor Community Profile css
  src/screens/CommunityProfile/CommunityProfile.module.css
  src/screens/CommunityProfile/CommunityProfile.tsx
  src/style/app.module.css
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

updated jest to vitest in askForDocker file
  src/setup/askForDocker/askForDocker.spec.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Fix linting issues
  src/style/app.module.css
Due: prettier --write

fixed dropdown issue
  src/screens/OrganizationActionItems/OrganizationActionItems.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Plugin-helper test migrated from jest to vitest
  src/components/AddOn/support/services/Plugin.helper.spec.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

increased time
  src/setupTests.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Fix explicit lint issue
  src/screens/CommunityProfile/CommunityProfile.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

removed unwanted changes from files
  CODE_STYLE.md
  DOCUMENTATION.md
  Dockerfile
  INSTALLATION.md
  src/setup/askForDocker/askForDocker.ts
  talawa-admin-docs/README.md
  talawa-admin-docs/modules/components_OrgUpdate_OrgUpdate.md
  talawa-admin-docs/modules/components_OrgUpdate_OrgUpdateMocks.md
  talawa-admin-docs/modules/screens_OrganizationDashboard_OrganizationDashboardMocks.md
  talawa-admin-docs/modules/screens_Users_UsersMocks.md
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Refactor: Migrated src/screens/ManageTag from Jest to Vitest
  src/screens/ManageTag/ManageTag.spec.tsx
  src/screens/ManageTag/ManageTag.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

issue-2516-fixed
  src/screens/OrganizationFunds/OrganizationFunds.module.css
  src/screens/OrganizationFunds/OrganizationFunds.tsx
  src/style/app.module.css
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

removed @testing-library/jest-dom
  src/components/AgendaItems/AgendaItemsCreateModal.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Plugin-helper test migrated from jest to vitest (#2740)
  src/components/AddOn/support/services/Plugin.helper.spec.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

@testing-library/jest-dom removed
  src/components/AgendaItems/AgendaItemsCreateModal.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Feature Added: An option for users to leave the Organization (Fixes #1873) (#2629)
  public/locales/en/translation.json
  public/locales/fr/translation.json
  public/locales/hi/translation.json
  public/locales/sp/translation.json
  public/locales/zh/translation.json
  src/App.tsx
  src/components/IconComponent/IconComponent.tsx
  src/screens/UserPortal/LeaveOrganization/LeaveOrganization.module.css
  src/screens/UserPortal/LeaveOrganization/LeaveOrganization.test.tsx
  src/screens/UserPortal/LeaveOrganization/LeaveOrganization.tsx
  src/screens/UserPortal/UserScreen/UserScreen.tsx
  src/state/reducers/userRoutersReducer.test.ts
  src/state/reducers/userRoutesReducer.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Refactor : src/components/AgendaItems/AgendaItemsCreateModal from Jest to Vitest #2489 (#2727)
  src/components/AgendaItems/AgendaItemsCreateModal.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Path conditions:
  node scripts/githooks/check-localstorage-usage.js: any of: **/*.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,json,scss,css,yml}
