Repository PalisadoesFoundation/talawa-admin: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/githooks/check-localstorage-usage.js, prettier --write

.lintstagedrc.json:

{
  "**/*.{ts,tsx}": "eslint --fix",
  "**/*.{ts,tsx,json,scss,css,yml}": "prettier --write",
  "**/*.{ts,tsx}": "node scripts/githooks/check-localstorage-usage.js"
}

refactored OrganizationDashboard css/ closes #2513 (#2593)
  src/screens/OrganizationDashboard/OrganizationDashboard.module.css
  src/screens/OrganizationDashboard/OrganizationDashboard.tsx
  src/style/app.module.css
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Refactor: src/screens/UserPortal/Volunteer/UpcomingEvents from Jest to Vitest (#2623)
  src/screens/UserPortal/Volunteer/UpcomingEvents/UpcomingEvents.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

cc1
  src/style/app.module.css
Due: prettier --write

new1
  src/components/EventCalendar/EventCalendar.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

new2
  src/components/EventCalendar/EventCalendar.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

revert-my-change-to improve codecov
  src/components/EventCalendar/EventCalendar.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

newchange1
  src/components/EventCalendar/EventCalendar.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

t74
  src/components/EventCalendar/EventCalendar.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Added a mock chatRoom.jsx in chat.spec.jsx
  src/screens/UserPortal/Chat/Chat.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Revert "Merge branch 'develop-postgres' into chat-vitest"
  .github/workflows/pull-request.yml
Due: prettier --write

Update vitest.config.ts
  vitest.config.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Reapply "Merge branch 'develop-postgres' into chat-vitest"
  .github/workflows/pull-request.yml
Due: prettier --write

refactor-CSS files in src/screens/LoginPage (fixes #2509)
  src/screens/LoginPage/LoginPage.module.css
  src/screens/LoginPage/LoginPage.tsx
  src/style/app.module.css
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

made changes as per coderabbitAI suggestion
  src/style/app.module.css
Due: prettier --write

merged OrgContribution.tsx and it's related components file's corresponding css file code into global css file (app.module.css) and then deleted the component's CSS file
  .husky/pre-commit
  package-lock.json
  package.json
  src/components/ContriStats/ContriStats.module.css
  src/components/ContriStats/ContriStats.tsx
  src/components/OrgContriCards/OrgContriCards.module.css
  src/components/OrgContriCards/OrgContriCards.tsx
  src/screens/OrgContribution/OrgContribution.module.css
  src/screens/OrgContribution/OrgContribution.tsx
  src/style/app.module.css
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

fixes conflicts
  src/style/app.module.css
Due: prettier --write

refactor css files in src/screens/LoginPage(fixes #2509)
  src/screens/LoginPage/LoginPage.module.css
  src/screens/LoginPage/LoginPage.tsx
  src/style/app.module.css
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

performing the migration
  .eslintignore
  .eslintrc.json
  eslint.config.mjs
Due: prettier --write

refactored css changes for EventManagement
  src/components/EventManagement/Dashboard/EventDashboard.module.css
  src/components/EventManagement/Dashboard/EventDashboard.tsx
  src/components/EventManagement/EventAgendaItems/EventAgendaItems.module.css
  src/components/EventManagement/EventAgendaItems/EventAgendaItems.tsx
  src/components/EventManagement/EventAttendance/EventAttendance.tsx
  src/components/EventManagement/EventAttendance/EventsAttendance.module.css
  src/screens/EventVolunteers/EventVolunteers.module.css
  src/screens/EventVolunteers/Requests/Requests.tsx
  src/screens/EventVolunteers/VolunteerContainer.tsx
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroupDeleteModal.tsx
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroupModal.tsx
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroupViewModal.tsx
  src/screens/EventVolunteers/VolunteerGroups/VolunteerGroups.tsx
  src/screens/EventVolunteers/Volunteers/VolunteerCreateModal.tsx
  src/screens/EventVolunteers/Volunteers/VolunteerDeleteModal.tsx
  src/screens/EventVolunteers/Volunteers/VolunteerViewModal.tsx
  src/screens/EventVolunteers/Volunteers/Volunteers.tsx
  src/screens/Leaderboard/Leaderboard.tsx
  src/screens/OrganizationActionItems/ItemDeleteModal.tsx
  src/screens/OrganizationActionItems/ItemViewModal.tsx
  src/screens/OrganizationActionItems/OrganizationActionItems.module.css
  src/screens/OrganizationActionItems/OrganizationActionItems.tsx
  src/screens/UserPortal/Volunteer/Actions/Actions.tsx
  src/screens/UserPortal/Volunteer/Groups/GroupModal.tsx
  src/screens/UserPortal/Volunteer/Groups/Groups.tsx
  src/style/app.module.css
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

performing the migration
  .eslintignore
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  src/GraphQl/Queries/fundQueries.ts
  src/screens/OrganizationDashboard/OrganizationDashboard.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

migration of People.test.tsx from jest to vitest
  src/screens/UserPortal/People/People.test.tsx
  src/setupTests.ts
  vitest.config.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Update eslint.config.mjs
  eslint.config.mjs
Due: none

updated setupTests.ts to old jest setup
  src/setupTests.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

adding globals package
  package-lock.json
  package.json
Due: prettier --write

fixing linting errors
  eslint.config.mjs
Due: none

optimizing testing file 1
  src/screens/UserPortal/LeaveOrganization/LeaveOrganization.test.tsx
  src/screens/UserPortal/LeaveOrganization/LeaveOrganization.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

refactor:vitest to orgPeople
  src/screens/OrganizationPeople/OrganizationPeople.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

trying to inc code range
  src/components/EventCalendar/EventCalendar.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

test failing fix
  src/components/EventCalendar/EventCalendar.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

test fix
  jest.config.js
  scripts/__mocks__/styleMock.js
  src/components/EventCalendar/EventCalendar.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

test fail fix trying
  jest.config.js
  scripts/__mocks__/styleMock.js
  src/components/OrganizationScreen/OrganizationScreen.test.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

fix organization issue ts
  src/components/OrganizationScreen/OrganizationScreen.test.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

action.spec waitfor issue fix
  src/screens/UserPortal/Volunteer/Actions/Actions.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

excluded uncessary file
  vitest.config.ts
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

fix test failed issue
  src/components/OrgSettings/ActionItemCategories/OrgActionItemCategories.test.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

refactored: Users from jest to vitest
  src/screens/Users/Users.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

yearlyEvent calender coverage increase
  src/components/EventCalendar/YearlyEventCalender.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

changes
  src/screens/Users/Users.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

inc code cov
  src/screens/LoginPage/LoginPage.tsx
  src/screens/UserPortal/Settings/Settings.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write

Migrate src/screens/OrganizationVenues from jest to vitest
  src/screens/OrganizationVenues/OrganizationVenues.spec.tsx
Due: node scripts/githooks/check-localstorage-usage.js, prettier --write
